[data]
    name = {{ promptStringOnce . "name" "Git user name" | quote }}
    email = {{ promptStringOnce . "email" "Git email" | quote }}
    clash_party_proxy_group = "节点选择"
{{- if eq .chezmoi.os "darwin" }}
    profile = "macos"
{{- else }}
    profile = {{ promptChoiceOnce . "profile" "Machine profile" "server" "ubuntu" "server" | quote }}
{{- end }}
