{{- if eq .profile "macos" -}}
{{ template "zsh-path-macos" . }}
{{- else if eq .profile "ubuntu" -}}
{{ template "zsh-path-ubuntu" . }}
{{- else -}}
{{ template "zsh-path-server" . }}
{{- end -}}

{{ template "zsh-common" . }}

{{- if eq .profile "ubuntu" -}}
{{ template "zsh-extras-ubuntu" . }}
{{- else if eq .profile "server" -}}
{{ template "zsh-extras-server" . }}
{{- end -}}
