[user]
    name = {{ .name }}
    email = {{ .email }}

[includeIf "gitdir:~/Code/heliannuuthus/"]
    path = ~/.gitconfig-heliannuuthus

[url "git@github.com:heliannuuthus/aegis-go"]
    insteadOf = https://github.com/heliannuuthus/aegis-go

{{ if ne .chezmoi.os "darwin" -}}
[credential]
    helper =
[credential "https://github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
    helper =
    helper = !/usr/bin/gh auth git-credential
{{ end -}}
