export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8

# Fcitx5 输入法
export QT_IM_MODULE=fcitx
export XMODIFIERS=@im=fcitx

export GOROOT="$HOME/.go/current"
export PATH="$GOROOT/bin:$HOME/bin:$HOME/.local/bin:$GOPATH/bin:$HOME/.cargo/bin:$PATH"
